## Library and Data Import

In [1]:
import sys

In [2]:
print(sys.version)

3.7.7 (v3.7.7:d7c567b08f, Mar 10 2020, 02:56:16)
[Clang 6.0 (clang-600.0.57)]

In [12]:
import pandas as pd

In [22]:
pd.set_option('display.max_rows', 1000)

In [23]:
pd.set_option('display.max_columns', 1000)

In [27]:
df = pd.read_csv('data.csv',encoding = 'utf-8')

In [28]:
df.columns

Index(['obs', 'channel', 'card_nbr', 'cust_id_nbr', 'cust_name', 'zip_code1',
       'zip_code2', 'city_town', 'order_obs', 'txn_date', 'product',
       'city_town_channel', 'city_town_product', 'amount', 'amount_uni',
       'order_amt', 'travel_area', 'go_date', 'back_date', 'customer_id',
       'card'],
      dtype='object')

In [29]:
col = ['obs','zip_code1','zip_code2','city_town','order_obs', 'txn_date', 'product',
       'city_town_channel', 'city_town_product', 'amount', 'amount_uni',
       'order_amt', 'travel_area', 'go_date', 'back_date']

In [30]:
online = df[col]

In [31]:
online.head()

,obs,zip_code1,zip_code2,city_town,order_obs,txn_date,product,city_town_channel,city_town_product,amount,amount_uni,order_amt,travel_area,go_date,back_date
0,17229146,台北市,大同區,台北市&大同區,NaN,2019/4/19 0:00,機票,台北市&大同區&機台刷卡,台北市&大同區&機票,4 張,4.0,113944,其他,2019/6/19,2019/7/3
1,18086581,新北市,土城區,新北市&土城區,NaN,2019/4/18 0:00,機票,新北市&土城區&機台刷卡,新北市&土城區&機票,1 張,1.0,2970,上海,2019/2/26,2019/2/26
2,18176501,台中市,西區,台中市&西區,NaN,2019/4/18 0:00,機票,台中市&西區&機台刷卡,台中市&西區&機票,1 張,1.0,8000,香港,2019/4/2,2019/4/2
3,18176808,新北市,土城區,新北市&土城區,NaN,2019/4/18 0:00,機票,新北市&土城區&機台刷卡,新北市&土城區&機票,2 張,2.0,12450,香港,2019/3/20,2019/3/24
4,18106182,新竹縣,《鄉鎮別》,新竹縣&《鄉鎮別》,NaN,2019/4/16 0:00,國內自由行,新竹縣&《鄉鎮別》&機台刷卡,新竹縣&《鄉鎮別》&國內自由行,8 人,8.0,30597,NaN,2019/6/8,NaN

## Cohort Analysis

In [35]:
lenonline.count()

obs                  30167
zip_code1            25576
zip_code2            25575
city_town            30167
order_obs            15757
txn_date             30167
product              30167
city_town_channel    30167
city_town_product    30167
amount               30097
amount_uni           30097
order_amt            30167
travel_area          27615
go_date              30167
back_date            27040
dtype: int64

In [33]:
online.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30167 entries, 0 to 30166
Data columns (total 15 columns):
obs                  30167 non-null int64
zip_code1            25576 non-null object
zip_code2            25575 non-null object
city_town            30167 non-null object
order_obs            15757 non-null float64
txn_date             30167 non-null object
product              30167 non-null object
city_town_channel    30167 non-null object
city_town_product    30167 non-null object
amount               30097 non-null object
amount_uni           30097 non-null float64
order_amt            30167 non-null int64
travel_area          27615 non-null object
go_date              30167 non-null object
back_date            27040 non-null object
dtypes: float64(2), int64(2), object(11)
memory usage: 3.5+ MB

In [6]:
# Define a function that will parse the date
def get_day(x): return dt.datetime(x.year, x.month, x.day)

In [ ]:
# Create InvoiceDay column
online['InvoiceDay'] = online['InvoiceDate'].apply(get_day)

In [ ]:
# Group by CustomerID and select the InvoiceDay value
grouping = online.groupby('CustomerID')['InvoiceDay'] 
# Assign a minimum InvoiceDay value to the dataset
online['CohortDay'] = grouping.transform(min)
# View the top 5 rows
print(online.head())