## Library and Data Import

In [39]:
import sys
import pandas as pd
import datetime as dt

In [2]:
print(sys.version)

3.7.7 (v3.7.7:d7c567b08f, Mar 10 2020, 02:56:16)
[Clang 6.0 (clang-600.0.57)]

In [22]:
pd.set_option('display.max_rows', 1000)

In [23]:
pd.set_option('display.max_columns', 1000)

In [27]:
df = pd.read_csv('data.csv',encoding = 'utf-8')

In [28]:
df.columns

Index(['obs', 'channel', 'card_nbr', 'cust_id_nbr', 'cust_name', 'zip_code1',
       'zip_code2', 'city_town', 'order_obs', 'txn_date', 'product',
       'city_town_channel', 'city_town_product', 'amount', 'amount_uni',
       'order_amt', 'travel_area', 'go_date', 'back_date', 'customer_id',
       'card'],
      dtype='object')

In [29]:
col = ['obs','zip_code1','zip_code2','city_town','order_obs', 'txn_date', 'product',
       'city_town_channel', 'city_town_product', 'amount', 'amount_uni',
       'order_amt', 'travel_area', 'go_date', 'back_date']

In [30]:
online = df[col]

In [31]:
online.head()

,obs,zip_code1,zip_code2,city_town,order_obs,txn_date,product,city_town_channel,city_town_product,amount,amount_uni,order_amt,travel_area,go_date,back_date
0,17229146,台北市,大同區,台北市&大同區,NaN,2019/4/19 0:00,機票,台北市&大同區&機台刷卡,台北市&大同區&機票,4 張,4.0,113944,其他,2019/6/19,2019/7/3
1,18086581,新北市,土城區,新北市&土城區,NaN,2019/4/18 0:00,機票,新北市&土城區&機台刷卡,新北市&土城區&機票,1 張,1.0,2970,上海,2019/2/26,2019/2/26
2,18176501,台中市,西區,台中市&西區,NaN,2019/4/18 0:00,機票,台中市&西區&機台刷卡,台中市&西區&機票,1 張,1.0,8000,香港,2019/4/2,2019/4/2
3,18176808,新北市,土城區,新北市&土城區,NaN,2019/4/18 0:00,機票,新北市&土城區&機台刷卡,新北市&土城區&機票,2 張,2.0,12450,香港,2019/3/20,2019/3/24
4,18106182,新竹縣,《鄉鎮別》,新竹縣&《鄉鎮別》,NaN,2019/4/16 0:00,國內自由行,新竹縣&《鄉鎮別》&機台刷卡,新竹縣&《鄉鎮別》&國內自由行,8 人,8.0,30597,NaN,2019/6/8,NaN

## Cohort Analysis

In [36]:
len(online) - online.count()

obs                      0
zip_code1             4591
zip_code2             4592
city_town                0
order_obs            14410
txn_date                 0
product                  0
city_town_channel        0
city_town_product        0
amount                  70
amount_uni              70
order_amt                0
travel_area           2552
go_date                  0
back_date             3127
dtype: int64

In [40]:
# Define a function that will parse the date
def get_day(x): return dt.datetime(x.year, x.month, x.day)

In [48]:
dt.datetime(online.txn_date[1])

TypeError: an integer is required (got type str)

In [41]:
# Create InvoiceDay column
online['InvoiceDay'] = online['txn_date'].apply(get_day)

AttributeError: 'str' object has no attribute 'year'

In [ ]:
# Group by CustomerID and select the InvoiceDay value
grouping = online.groupby('CustomerID')['InvoiceDay'] 
# Assign a minimum InvoiceDay value to the dataset
online['CohortDay'] = grouping.transform(min)
# View the top 5 rows
print(online.head())