## Library and Data Import

In [1]:
import sys

In [2]:
print(sys.version)

3.7.7 (v3.7.7:d7c567b08f, Mar 10 2020, 02:56:16)
[Clang 6.0 (clang-600.0.57)]

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('data.csv',encoding = 'utf-8')

In [5]:
df.head()

,obs,channel,card_nbr,cust_id_nbr,cust_name,zip_code1,zip_code2,city_town,order_obs,txn_date,...,city_town_channel,city_town_product,amount,amount_uni,order_amt,travel_area,go_date,back_date,customer_id,card
0,17229146,機台刷卡,552197******1414,NaN,陳如紫,台北市,大同區,台北市&大同區,NaN,2019/4/19 0:00,...,台北市&大同區&機台刷卡,台北市&大同區&機票,4 張,4.0,113944,其他,2019/6/19,2019/7/3,M2561C1F42149549CF,552DDC81B3B8E801BA041414
1,18086581,機台刷卡,515713******2534,NaN,黃明聖,新北市,土城區,新北市&土城區,NaN,2019/4/18 0:00,...,新北市&土城區&機台刷卡,新北市&土城區&機票,1 張,1.0,2970,上海,2019/2/26,2019/2/26,Q12BD495995FB5AD95,51598B404F4277A4FB002534
2,18176501,機台刷卡,515713******6468,NaN,徐琮裕,台中市,西區,台中市&西區,NaN,2019/4/18 0:00,...,台中市&西區&機台刷卡,台中市&西區&機票,1 張,1.0,8000,香港,2019/4/2,2019/4/2,M1CE53EA8A222893F9,5156509CB9CE9BDB25D46468
3,18176808,機台刷卡,515713******2534,NaN,黃明聖,新北市,土城區,新北市&土城區,NaN,2019/4/18 0:00,...,新北市&土城區&機台刷卡,新北市&土城區&機票,2 張,2.0,12450,香港,2019/3/20,2019/3/24,Q12BD495995FB5AD95,51598B404F4277A4FB002534
4,18106182,機台刷卡,406376******5859,NaN,謝宏晟,新竹縣,《鄉鎮別》,新竹縣&《鄉鎮別》,NaN,2019/4/16 0:00,...,新竹縣&《鄉鎮別》&機台刷卡,新竹縣&《鄉鎮別》&國內自由行,8 人,8.0,30597,NaN,2019/6/8,NaN,K1802417C095CDF9AF,4069F6613D429610C8F65859